extends layout

block content
    h1= title

    div.container-fluid
        div.row
            div.col-md-12
                include widgets/serverlist.jade
        div.row
            div.col-md-12
                include widgets/buildlist.jade