.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.table .data-id {
    width: 50px;    
}

.td[at_attribute='project'] {
    width: 150px;
}

.table tr td .fa {
    padding-right: 4px;
}